section.benefit
    .container
        .row
            .benefit__inner
                h2.benefit__title Финансовая выгода от актива
                .benefit__items
                    .benefit__item
                        .benefit__headline Доходность
                        .benefit__text Объекты с доходностью от 12% годовых. (аренда от 100 000 рублей в месяц). 
                    .benefit__item
                        .benefit__headline Окупаемость
                        .benefit__text Каждому потенциальному покупателю предоставляется плановый расчет доходности и окупаемости объекта, который покупатель сможет при необходимости использовать для сравнения с другими активами.
                    .benefit__item
                        .benefit__headline Рост стоимости актива
                        .benefit__text Объекты, купленные на этапе стройки, возрастают в цене к моменту сдачи в среднем на 30 %.
                    .benefit__item
                        .benefit__headline Ликвидность
                        .benefit__text Каждому потенциальному покупателю предоставляется плановый расчет доходности и окупаемости объекта, который покупатель сможет при необходимости использовать для сравнения с другими активами.