
section.cases
    .container
        .row
            .cases__inner
                h2.cases__title Наши кейсы
                .carousel.slide.cases__carousel#cases__carousel
                    ol.carousel-indicators.cases__indicators
                        li.cases__indicator.active(data-target="#cases__carosel" data-slide-to="0")
                        li.cases__indicator(data-target="#cases__carosel" data-slide-to="1")
                        li.cases__indicator(data-target="#cases__carosel" data-slide-to="2")
                        li.cases__indicator(data-target="#cases__carosel" data-slide-to="3")
                    .carousel-inner
                        .carousel-item.case.active
                            .case__inner
                                .case__img.case__img_1
                                .case__body
                                    .case__title Готовое решение с доходом 
                                    .case__price
                                        span.case__price-value 874 000
                                        span 
                                            |
                                            | руб/мес
                                    .case__headline Результаты:
                                    .case__text
                                        ul
                                            li 
                                                b Инвестиции: 
                                                | 64 000 000 рублей (~140 000 рублей за м2). 
                                            li 
                                                b Арендный доход: 
                                                | 874 000 руб/мес с ежегодной индексацией 7%. 
                                            li ROI – 16,4%, без учета роста стоимости самого помещения 
                                            li ROI ~46%, с учетом роста стоимости самого помещения
                                    .case__headline Что сделано:
                                    .case__text
                                        | При оценке количества коммерческих помещений в проекте будущего комплекса ЛСР и планируемой инфраструктуры района поняли, что есть недостаток продуктовых магазинов – всего 2 небольших магазина на 15 000 жителей.
                        .carousel-item.case
                            .case__inner
                                .case__img.case__img_2
                                .case__body
                                    .case__title Разделение помещений для максимизации дохода
                                    .case__headline Результаты:
                                    .case__text
                                        ul
                                            li 
                                                b Инвестиции: 
                                                | 21 870 000 рублей с рассрочкой платежа на 6 месяцев.
                                            li 
                                                b Арендный доход: 
                                                | 243 000 рублей в месяц с ежегодной индексацией 5%
                                            li ROI – 13,3%, без учета роста стоимости самого помещения
                                            li Стоимость самого помещения выросла к сегодняшнему дню на 30%
                                    .case__headline Что сделано:
                                    .case__text
                                        | Купили для клиента готовое коммерческое помещение площадью 162 м2 в ЖК Вива по цене 135 000 за м2. 
                        .carousel-item.case
                            .case__inner
                                .case__img.case__img_1
                                .case__body
                                    .case__title Готовое решение с доходом 
                                    .case__price
                                        span.case__price-value 874 000
                                        span 
                                            |
                                            | руб/мес
                                    .case__headline Результаты:
                                    .case__text
                                        ul
                                            li 
                                                b Инвестиции: 
                                                | 64 000 000 рублей (~140 000 рублей за м2). 
                                            li 
                                                b Арендный доход: 
                                                | 874 000 руб/мес с ежегодной индексацией 7%. 
                                            li ROI – 16,4%, без учета роста стоимости самого помещения 
                                            li ROI ~46%, с учетом роста стоимости самого помещения
                                    .case__headline Что сделано:
                                    .case__text
                                        | При оценке количества коммерческих помещений в проекте будущего комплекса ЛСР и планируемой инфраструктуры района поняли, что есть недостаток продуктовых магазинов – всего 2 небольших магазина на 15 000 жителей.
                        .carousel-item.case
                            .case__inner
                                .case__img.case__img_2
                                .case__body
                                    .case__title Разделение помещений для максимизации дохода
                                    .case__headline Результаты:
                                    .case__text
                                        ul
                                            li 
                                                b Инвестиции: 
                                                | 21 870 000 рублей с рассрочкой платежа на 6 месяцев.
                                            li 
                                                b Арендный доход: 
                                                | 243 000 рублей в месяц с ежегодной индексацией 5%
                                            li ROI – 13,3%, без учета роста стоимости самого помещения
                                            li Стоимость самого помещения выросла к сегодняшнему дню на 30%
                                    .case__headline Что сделано:
                                    .case__text
                                        | Купили для клиента готовое коммерческое помещение площадью 162 м2 в ЖК Вива по цене 135 000 за м2. 
                    .cases__buttons
                        a.cases__button.cases__button_prev(href="#cases__carousel" role="button" data-slide="prev")
                        .cases__pages
                                span 01
                                span /
                                span 04
                        a.cases__button.cases__button_next(href="#cases__carousel" role="button" data-slide="next") 