
extends _base/_layout
block content    
    // BEGIN CASES
    include components/_cases
    // END CASES
    // BEGIN BENEFIT
    include components/_benefit
    // END BENEFIT
    // BEGIN FORM
    include components/_form
    // END FORM
